<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <title>Validation Example</title>
</head>
<body>
    <div >
        <form novalidate ng-app="myApp" ng-controller="validateCtrl" name="myForm">
         <p>
             用户名：<br>
             <input type="text" name="user" ng-model="user" required>
             <span style="corlor:red" ng-show="myForm.user.$dirty &&  myForm.user.$invalid">
             <span ng-show="myForm.user.$error.required">用户名是必须的</span>
                 </span>
         </p>
            <p>
                邮箱：<br>
                <input type="email" name="email" ng-model="email" required>
                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                <span ng-show="myForm.email.$error.required">邮箱是必须的</span>
                <span ng-show="myForm.email.$error.email">邮箱非法</span>
                    </span>
            </p>
            <p>
                <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
                myForm.email.$dirty && myForm.email.$invalid">
            </p>

        </form>
    </div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("validateCtrl",function($scope){
        $scope.user="John Doe";
        $scope.email="John.Doe@gmail.com";

    });
</script>

</body>
</html>