<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <title></title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    名： <input ng-model="firstname">
    <b></b>
    姓：<input ng-model="lastname">

    <p>您输入的名字是：{{firstname+' '+lastname}}</p>

</div>
<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope) {
        $scope.firstname = "xing";
        $scope.lastname = "xuexi";
    });
</script>

</body>
</html>