<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <title>事件</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="personCtrl">
        <button ng-click="toggle()">隐藏/显示</button>
        <p ng-hide="myvar">
            名：<input type="text" ng-model="firstname">
            姓氏：<input type="text" ng-model="lastname">
            <br>
            Full name:{{firstname+" "+lastname}}
        </p>

    </div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("personCtrl",function($scope){
        $scope.firstname="John";
        $scope.lastname="Doe";
        $scope.myvar=false;
        $scope.toggle=function(){
            $scope.myvar=!$scope.myvar;

        };

    });
</script>

</body>
</html>