<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <title>AngularJS 表单实例</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="formCtrl">
        <form novalidate>
            FirstName:<br>
            <input ng-model="user.firstname">
            LastName:<br>
            <input ng-model="user.lastname">
            <br>
            <button ng-click="reset()">Reset</button>
            <p>{{user}}</p>
            <p>{{master}}</p>

        </form>
    </div>
<script>
    var app=angular.module("myApp",[]);
    app.controller("formCtrl",function($scope){
        $scope.master={firstname:"John",lastname:"Doe"};
        $scope.reset=function(){
            $scope.user=angular.copy($scope.master);
        };

    });
</script>

</body>
</html>